<!DOCTYPE html>
<html lang="en">
<head>
    <title>Greek God Flask app</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
</head>
<body>
    <div id="loader"></div>


    <div class="has-text-centered">

        {% block content %}
        {% endblock %}
    
        <div class="block">
            <a href="{{url_for('secondary')}}")>
                <button class="button is-rounded is-focused is-link is-light is-large">
                    {% block button_text %}
                    {% endblock %}
                </button>
            </a>
        </div>

    <div>



</body>
</html>
